<!-- TODO: Visually highlight the "selected" (but not checked yet) option when tabbing through the switch field -->
{% macro YesNo(legend, dbFieldName) %}
<fieldset class="switch-field">
    <legend>{{ legend }}</legend>
    <input type="radio" id="{{ legend | slugify }}-yes" name="{{ dbFieldName }}" value="true"  onclick="updateUrlSearchParams(this)"/>
    <label for="{{ legend | slugify }}-yes">Yes</label>
    <input type="radio" id="{{ legend | slugify }}-no"  name="{{ dbFieldName }}" value="false" onclick="updateUrlSearchParams(this)"/>
    <label for="{{ legend | slugify }}-no">No</label>
</fieldset>
{% endmacro %}
