---
layout: default
# TODO: remove those defaults
isTapDanceEnabled: false
isComboEnabled: false
isAutoShiftEnabled: false
keybindings: []
---
{% from "macros/if-true-Yes-else-No.njk" import booleanToYesNo %}
{% macro showCategoricalArray(arr) %}
    {{ arr | join(", ") if arr | length > 0 else "N/A" }}
{% endmacro %}

{% if isSplit %}
    {% set splitStatus = "Split" %}
{% else %}
    {% set splitStatus = "Non-split" %}
{% endif %}

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 mb-3">{{ title }}</h1>
        <h2 class="text-2xl text-center leading-normal text-gray-750 mt-0 mb-3">Author: {{ author }}</h2>
        {% if keymapImage %}
            <a href="{{ keymapImage | url }}">
            <img
            class="w-full m-0 rounded-t lazy"
            src="{% if keymapImage %}{{ keymapImage | url }}{% elif image %}{{ image | url }}{% else %}{{ '/assets/img/no-image.svg' | url }}{% endif %}"
            width="960"
            height="500"
            alt="{{ splitStatus }} {{ stagger }}-staggered {{ keyboard }} with {{ baseLayouts | join(" and ") }} legends">
            </a>
        {% endif %}
    </header>
    <div id="content" class="prose text-gray-800 max-w-none">
        {% if summary %}
            <p>{{ summary }}</p>
        {% endif %}
        <table>
            <th colspan="2" class="text-xl font-bold">Keyboard</th>
            <tr>
                <td>Keyboard Name</td>
                <td>{{ keyboard }}</td>
            </tr>
            <tr>
                <td>Stagger</td>
                <td>{{ stagger | title }}</td>
            </tr>
            <tr>
                <td>Key Count</td>
                <td>{{ keyCount }}</td>
            </tr>
            <tr>
                <td>Split</td>
                <td>{{ booleanToYesNo(isSplit) }}</td>
            </tr>
            <tr>
                <td>Firmware</td>
                <td>{{ firmware }}</td>
            </tr>
            <th colspan="2" class="text-xl font-bold">Keymap</th>
            <tr>
                <td>Base Layout(s)</td>
                <td>{{ showCategoricalArray(baseLayouts) }}</td>
            </tr>
            <tr>
                <td>Language(s)</td>
                <td>{{ showCategoricalArray(languages) }}</td>
            </tr>
            <tr>
                <td>Letter(s) on thumb</td>
                <td>{{ booleanToYesNo(hasLetterOnThumb) }}</td>
            </tr>
            <tr>
                <td>Layer Count</td>
                <td>{{ layerCount }}</td>
            </tr>
            <tbody>
                <th colspan="2" class="text-xl font-bold">Firmware Features</th>
                <tr>
                    <td>Home Row Mods</td>
                    <td>{{ booleanToYesNo(hasHomeRowMods) }}</td>
                </tr>
                <tr>
                    <td>Combos</td>
                    <td>{{ booleanToYesNo(isComboEnabled) }}</td>
                </tr>
                <tr>
                    <td>Tap Dance</td>
                    <td>{{ booleanToYesNo(isTapDanceEnabled) }}</td>
                </tr>
                <tr>
                    <td>Auto Shift</td>
                    <td>{{ booleanToYesNo(isAutoShiftEnabled) }}</td>
                </tr>
            </tbody>
            <tbody>
                <th colspan="2" class="text-xl font-bold">Use Case</th>
                <tr>
                    <td>OS</td>
                    <td>{{ showCategoricalArray(OS) }}</td>
                </tr>
                <tr>
                    <td>Keybindings</td>
                    <td>{{ showCategoricalArray(keybindings) }}</td>
                </tr>
            </tbody>
            <tbody style="word-break:break-word">
                <th colspan="2" class="text-xl font-bold">Links</th>
                <tr>
                    <td>Keymap Folder</td>
                    <td><a href="{{ keymapUrl }}">{{ keymapUrl }}</a></td>
                </tr>
                <tr>
                    <td>Write-Up</td>
                    <td><a href="{{ writeup }}">{{ writeup }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
