---
# TODO: remove those defaults
hasRotaryEncoder: false
isTapDanceEnabled: false
isComboEnabled: false
isAutoShiftEnabled: false
keybindings: []
---

<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to {{ '/' | url }}keymaps/{{ page.fileSlug }}</title>
<meta http-equiv="refresh" content="0; URL={{ '/' | url }}keymaps/{{ page.fileSlug }}">
<link rel="canonical" href="{{ '/' | url }}">
