.switch-field {
    display: flex;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
    /*flex: 1 1 50%; */
	background-color: #eeeee;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:focus + label {
    box-shadow: 0 0 0 2px rgb(37 99 235); /* border-blue-600 */
}

.switch-field input:checked + label {
	background-color: #3584e4;
	color: #ffffff;
}


.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

.slider-styled {
    height: 10px;
    margin: 50px 20px 30px 0px;
}

.noUi-connect {
    background: #3584e4;
}

.noUi-horizontal .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    /* !important is used to avoid `right`
     * from being overriden by the `right` rule
     * in `html:not([dir="rtl"]) .noUi-horizontal .noUi-handle`
     * in the nouislider.css file.
     */
    right: -9px !important; /* half the width */
    border-radius: 9px;
}

a.disabled {
    pointer-events: none;
}

svg {
    display: inline;
    margin-right: 0.125em;
    margin-left: 0.125em;
}

/* Inserting this collapsed row between two flex items will make
 * the flex item that comes after it break to a new row
 * Source: https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
.flexitems-break {
    flex-basis: 100%;
    height: 0;
}

/* Responsive CSS grid with no media queries by AndyBell Design */
/* Sources: https://archive.hankchizljaw.com/wrote/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/ */
#post-grid {
  --post-grid-min-size: 20em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--post-grid-min-size), 1fr));
  grid-gap: 1rem;
  max-width: 100%;
}

.postcard {
    height: fit-content;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    align-self: stretch;
    width: 100%;
}

.postcard:hover {
    transform: scale(1.15);
}

@keyframes thumbnail-slide {
  from {object-position: top;}
    to {object-position: bottom;}
}

.card-thumbnail:hover {
    animation-name: thumbnail-slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

.button {
    @apply bg-white font-semibold py-2 px-4 border rounded shadow-md text-gray-800 cursor-pointer hover:bg-gray-100
}

.button:disabled,
.button[disabled] {
    @apply bg-white font-semibold py-2 px-4 border rounded shadow-md text-gray-800 cursor-not-allowed text-opacity-75;
}
