---
layout: default
title: About KeymapDB
---

<div class="flex flex-col items-center text-lg">
    <a href="{{ maintainer.homepage | url }}" target="_blank" rel="noopener noreferrer">
        <img class="w-32 h-32 md:w-40 md:h-40" src="{{ site.logo }}" width="128" height="128" alt="Treasure map on a keycap">
    </a>
    <article class="max-w-5xl mx-auto text-justify mt-8 prose">
        <p>
            KeymapDB (“Keymap Database”) is a public and open-source online database for keymaps of programmable keyboards, with a focus on QMK ergonomic keyboards. Here, you'll find a curated list of keymaps to take inspiration from, with a slew of filters you can use to find the user-submitted keymaps that will interest you.
        </p>
        <p>
            KeymapDB is NOT:
            <ul>
                <li>A collection of alpha keyboard layouts (Colemak, Dvorak, AZERTY, BEAKL, …). 
                    Better luck in the “<a href="https://www.keyboard-design.com/best-layouts.html" class="font-medium">Keyboard Design Gallery</a>”.</li>
                <li>A collection of mechanical keyboards. Visit <a href="https://mechdb.net/keyboards/" class="font-medium">MechDB</a> if that's what you want.</li>
            </ul>
        </p>

        <p>
        Do you wish to programmatically access the information of the database? This is possible by querying
        <a href="{{ '/keymaps_metadata.json' | url }}" download>keymapdb.com/keymaps_metadata.json</a>.
        </p>
        <p>
        Want to add your own keymap to the site? Follow the instructions outlined in “<a href="https://github.com/precondition/keymapdb/blob/main/how_to_submit_a_keymap.md">How to submit a keymap</a>”.
        </p>
    </article>
</div>
