---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
---

<div class="flex">
    <aside class="h-screen top-0" style="height:min-content;">
        {% include "partials/sidebar.njk" %}
    </aside>
    <div class="flex flex-wrap -mx-2">
    {% include "partials/post-grid.njk" %}
    </div>
</div>

{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}
