---
layout: layouts/default
isMainScreen: true
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
---

<div class="flex">
    {# TODO: find a way for small screen users to use the sidebar.
    Perhaps an extra button in the hamburger menu of the header that 
    would open the sidebar in full-screen with an "Apply" button at 
    the end. #}
    <aside id="sidebar" class="w-64 mr-11 h-min hidden md:block">
        {% include "partials/sidebar.njk" %}
    </aside>
    <div class="flex-col w-full">
        {% set offset =  (paged.number - 1) * site.paginate %}
        <div id="showing-n-results" class="text-center mb-5 mx-auto text-lg text-gray-600">Showing {{ offset + 1 }} to {{ offset + site.paginate }} of {{ collections.posts | length }} results found</div>
        <div id="post-grid">
        {% include "partials/post-grid.njk" %}
    </div>
    </div>
</div>

{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}
