---
permalink: "/assets/js/bundle_extras.js"
---
{% set js %}
{% include "../assets/js/card.js" %}
{% include "../assets/js/search.js" %}
{% include "../assets/js/nouislider.js" %}
{% include "../assets/js/dual_sliders_conf.js" %}
{% include "../assets/js/sidebar_filters.js" %}
{% endset %}
{{ js | minifyJs | safe }}
