---
permalink: "/assets/js/bundle-extras.js"
---
{% set js %}
{% include "../assets/js/filter_keymaps.js" %}
{% include "../assets/js/nouislider.js" %}
{% include "../assets/js/dualSlidersConf.js" %}
{% include "../assets/js/sidebarFilters.js" %}
{% endset %}
{{ js | minifyJs | safe }}
