<div class="mt-9 flow-root">
<a
 id="previous-button"
 {% if not paged.first %}
     href="{{ pagination.href.previous | url }}"
 {% else %}
     href="javascript:void(0)"
     disabled
 {% endif %}
 class="float-left button">Previous</a>

<a
 id="next-button"
 {% if not paged.last %}
     href="{{ pagination.href.next | url }}"
 {% else %}
     href="javascript:void(0)"
     disabled
 {% endif %}
     class="float-right button">Next</a>
</div>
