{# The apparently redundant md:flow-root in paginator-container's 
tailwind classes is important in order to restore the paginator buttons
when increasing the size of the viewport after having clicked the 
"Filters" button in the header (which calls the `toggleFullScreenSidebar` function) #}
<div id="paginator-container" class="mt-9 flow-root md:flow-root">
<a
 id="previous-button"
 {% if not paged.first %}
     href="{{ pagination.href.previous | url }}"
 {% else %}
     href="javascript:void(0)"
     hidden
 {% endif %}
 class="float-left button">Previous</a>

<a
 id="next-button"
 {% if not paged.last %}
     href="{{ pagination.href.next | url }}"
 {% else %}
     href="javascript:void(0)"
     hidden
 {% endif %}
     class="float-right button">Next</a>
</div>
