<div class="mt-3 flow-root">
    {# `href-if-enabled` is a custom/non-standard attribute used to memorise the base link of the previous (or next) page even if the pagination button is currently disabled because the button might get re-enabled later, dynamically through JS. #}
<a href-if-enabled="{{ pagination.href.previous | url }}" href="{% if not paged.first %}{{ pagination.href.previous | url }}{% else %}javascript:void(0){% endif %}" id="previous-button" class="float-left bg-white font-semibold py-2 px-4 border rounded shadow-md text-gray-800 {% if not paged.first %}cursor-pointer hover:bg-gray-100{% else %}cursor-default text-opacity-75{% endif %}">Previous</a>
    <a href-if-enabled="{{ pagination.href.next | url }}"  href="{% if not paged.last %}{{ pagination.href.next | url }}{% else %}javascript:void(0){% endif %}" id="next-button" class="float-right bg-white font-semibold py-2 px-4 border rounded shadow-md text-gray-800 {% if not paged.last %}cursor-pointer hover:bg-gray-100{% else %}cursor-default text-opacity-75{% endif %}">Next</a>
</div>
