{% from "macros/yes-no-switch-field.njk" import YesNo %}

Key Count:
<div class="slider-styled" id="keyCountSlider"></div>
<br>
<input type="number" min="1" max="120" step="1" value="10">

<br>

<div class="flex flex-col">
Firmware:
        {% for firmware, keymapEntry in collections.posts | sort(false, false, "data.firmware") | groupby("data.firmware")  %}
    <label class="inline-flex mt-3">
        <input type="radio", name="firmware" value="{{ firmware }}" class="form-radio h-5 w-5 text-blue-500 border-gray-300 transition duration-100 ease-in-out shadow-sm focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:outline-none focus:ring-opacity-50 focus:ring-offset-0  disabled:opacity-50 disabled:cursor-not-allowed"><span class="ml-2 text-gray-700">{{ firmware }}</span>
    </label>
        {% endfor %}
    </label>
</div>

<br>

<div class="flex">
  <div class="mb-3 xl:w-96">
    <label class="form-check-label inline-block text-gray-800" for="baseLayoutSelection">
      Base layout:
    </label>
    <select id="baseLayoutSelection" name="baseLayoutSelection" class="form-select
      block
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
        <option selected>Any</option>
        {% for baseLayoutName in collections.posts | mapToDbField("baseLayouts") | flatten | sort | uniq  %}
        <option value="{{ baseLayoutName }}">{{ baseLayoutName }}</option>
        {% endfor %}
    </select>
  </div>
</div>

<br>

<div class="flex">
  <div class="mb-3 xl:w-96">
    <label class="form-check-label inline-block text-gray-800" for="keyboardSelection">
      Keyboard:
    </label>
    <select id="keyboardSelection" name="keyboardSelection" class="form-select
      block
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
        <option selected>Any</option>
        {# FIXME This procedure of sorting entries by keyboard name and
        dropping duplicates could probably be sped up #}
        {% for keyboardName, keymapEntry in collections.posts | sort(false, false, "data.keyboard") | groupby("data.keyboard")  %}
        <option value="{{ keyboardName }}">{{ keyboardName }}</option>
        {% endfor %}
    </select>
  </div>
</div>

<br>

Stagger:
<div class="flex flex-col">
    <label class="inline-flex mt-3">
        <input type="radio", name="stagger", class="form-radio h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">row</span>
    </label>

    <label class="inline-flex mt-3">
        <input type="radio", name="stagger", class="form-radio h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">columnar</span>
    </label>

    <label class="inline-flex mt-3">
        <input type="radio", name="stagger", class="form-radio h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">ortholinear</span>
    </label>
</div>

<br>

Split:
{{ YesNo("split") }}

<br>

<label class="block text-left" style="max-width: 300px">
  Language(s): (Ctrl+Click to select more than one)
  <select class="form-multiselect block w-full mt-1" style="border-width: 2px" multiple>
        {% for language in collections.posts | mapToDbField("languages") | flatten | sort | uniq  %}
        <option value="{{ language }}">{{ language }}</option>
        {% endfor %}
  </select>
</label>

<br>

OS:
<div class="flex flex-col">
    <div class="flex flex-col">
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">Windows</span>
        </label>
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">MacOS</span>
        </label>
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2 text-gray-700">Linux</span>
        </label>
    </div>
</div>

<br>

Letter(s) on thumb:
{{ YesNo("letter-on-thumb") }}

<br>

Layer Count:
<div class="slider-styled" id="layerCountSlider"></div>

<br>

Combos:
{{ YesNo("combos") }}

<br>

Tap dance:
{{ YesNo("tap-dance") }}

<br>

Auto Shift:
{{ YesNo("auto-shift") }}

<br>

Home row mods:
{{ YesNo("home-row-mods") }}
