{% from "macros/yes-no-switch-field.njk" import YesNo %}

<fieldset>
    <legend>Key Count</legend>
    <!-- "bug" report: selecting a slider handle with the mouse cursor and releasing the mouse button outside of the slider's area does not call updateUrlSearchParams -->
    <div onkeyup="updateUrlSearchParams(this)" onclick="updateUrlSearchParams(this)" class="slider-styled" name="keyCount" id="keyCountSlider"></div>
    <br>
    <input type="number" min="1" max="120" step="1" value="10">
</fieldset>

<br>

<fieldset class="flex flex-col">
    <legend>Firmware</legend>
        {% for firmware, keymapEntry in collections.posts | sort(false, false, "data.firmware") | groupby("data.firmware")  %}
        <div class="inline-flex mt-3">
            <input type="radio"
                   name="firmware"
                   value="{{ firmware }}"
                   id="{{ firmware }}-radio"
                   onclick="updateUrlSearchParams(this)"
                   class="form-radio h-5 w-5 text-blue-500 border-gray-300 transition duration-100 ease-in-out shadow-sm focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:outline-none focus:ring-opacity-50 focus:ring-offset-0  disabled:opacity-50 disabled:cursor-not-allowed">
            <label for="{{ firmware }}-radio" class="ml-2 text-gray-700">{{ firmware }}
            </label>
        </div>
        {% endfor %}
</fieldset>

<br>

<fieldset class="mb-3 xl:w-96">
    <legend class="form-check-label inline-block text-gray-800" id="baseLayoutSelectionLegend">
      Base layout
    </legend>
    <select id="baseLayoutSelection" name="baseLayouts" onchange="updateUrlSearchParams(this)" class="form-select
      block
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
      aria-labelledby="baseLayoutSelectionLegend">
        <option value="" selected>Any</option>
        {% for baseLayoutName in collections.posts | mapToDbField("baseLayouts") | flatten | sort | uniq  %}
        <option value="{{ baseLayoutName }}">{{ baseLayoutName }}</option>
        {% endfor %}
    </select>
</fieldset>

<br>

<fieldset class="mb-3 xl:w-96">
    <legend class="form-check-label inline-block text-gray-800" id="keyboardSelectionLegend">
      Keyboard
    </legend>
    <select id="keyboardSelection" name="keyboard" onchange="updateUrlSearchParams(this)" class="form-select
          block
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding bg-no-repeat
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
          aria-labelledby="keyboardSelectionLegend">
        <option value="" selected>Any</option>
        {# FIXME This procedure of sorting entries by keyboard name and
        dropping duplicates could probably be sped up #}
        {% for keyboardName, keymapEntry in collections.posts | sort(false, false, "data.keyboard") | groupby("data.keyboard")  %}
        <option value="{{ keyboardName }}">{{ keyboardName }}</option>
        {% endfor %}
    </select>
</fieldset>

<br>

<fieldset class="flex flex-col">
    <legend>Stagger</legend>
    <label class="inline-flex mt-3">
        <input type="radio" name="stagger" value="row" onclick="updateUrlSearchParams(this)" class="form-radio h-5 w-5 text-gray-600">
        <span class="ml-2 text-gray-700">row</span>
    </label>

    <label class="inline-flex mt-3">
        <input type="radio" name="stagger" value="columnar" onclick="updateUrlSearchParams(this)" class="form-radio h-5 w-5 text-gray-600">
        <span class="ml-2 text-gray-700">columnar</span>
    </label>

    <label class="inline-flex mt-3">
        <input type="radio" name="stagger" value="ortholinear" onclick="updateUrlSearchParams(this)" class="form-radio h-5 w-5 text-gray-600">
        <span class="ml-2 text-gray-700">ortholinear</span>
    </label>
</fieldset>

<br>

{{ YesNo("Split", "isSplit") }}

<br>

<fieldset class="block text-left" style="max-width: 300px">
    <legend>Language(s) (Ctrl+Click to select more than one)</legend>
    <select name="languages" id="languages-multi-select" onchange="updateUrlSearchParams(this)" class="form-multiselect block w-full mt-1" style="border-width: 2px" multiple>
       {% for language in collections.posts | mapToDbField("languages") | flatten | sort | uniq  %}
           <option value="{{ language }}">{{ language }}</option>
       {% endfor %}
     </select>
</fieldset>

<br>

<fieldset class="flex flex-col">
    <legend>OS</legend>
    <label class="inline-flex items-center mt-3">
        <input type="checkbox" name="OS" value="Windows" onclick="updateUrlSearchParams(this)" class="form-checkbox h-5 w-5 text-gray-600">
        <span class="ml-2 text-gray-700">Windows</span>
    </label>
    <label class="inline-flex items-center mt-3">
        <input type="checkbox" name="OS" value="MacOS" onclick="updateUrlSearchParams(this)" class="form-checkbox h-5 w-5 text-gray-600">
        <span class="ml-2 text-gray-700">MacOS</span>
    </label>
    <label class="inline-flex items-center mt-3">
        <input type="checkbox" name="OS" value="Linux" onclick="updateUrlSearchParams(this)" class="form-checkbox h-5 w-5 text-gray-600">
        <span class="ml-2 text-gray-700">Linux</span>
    </label>
</fieldset>

<br>

{{ YesNo("Letter(s) on thumb", "hasLetterOnThumb") }}

<br>

<fieldset>
    <legend>Layer Count</legend>
    <div onkeyup="updateUrlSearchParams(this)" onclick="updateUrlSearchParams(this)" class="slider-styled" name="layerCount" id="layerCountSlider"></div>
</fieldset>

<br>

{{ YesNo("Combos", "isComboEnabled") }}

<br>

{{ YesNo("Tap dance", "isTapDanceEnabled") }}

<br>

{{ YesNo("Auto Shift", "isAutoShiftEnabled") }}

<br>

{{ YesNo("Home row mods", "hasHomeRowMods") }}
